<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title></title>
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui_animation.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui_plus.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/insdep_theme_default.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/icon.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/plugin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.min.js"></script>
    <script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/EasyUI-InsdepTheme/themes/insdep/jquery.insdep-extend.min.js"></script>



</head>

<body>
<div>
    <table id="table" class="easyui-datagrid" cls="theme-datagrid" title="Basic DataGrid" style="width:700px;height:250px"
           data-options="singleSelect:true,collapsible:true,url:'/AdminUser/getAdminUserList',method:'post'">
        <thead>
        <tr>
            <th data-options="field:'user_ID',width:80" hidden="true">Item ID</th>
            <th data-options="field:'user_Name',width:100">User_Name</th>
            <th data-options="field:'user_Psd',width:80,align:'right'">User_Psd</th>
            <th data-options="field:'user_LoginTime',width:80,align:'right'">User_LoginTime</th>
            <th data-options="field:'user_Trust',width:250">User_Trust</th>
            <th data-options="field:'user_RegDate',width:60,align:'center'">User_RegDate</th>
            <th data-options="field:'user_Money',width:60,align:'center'">User_Money</th>
            <th data-options="field:'user_Show',width:60,align:'center'">User_Show</th>
            <th data-options="field:'wx_id',width:60,align:'center'">wx_id</th>
        </tr>
        </thead>
    </table>
</div>
</body>
<script type="text/javascript">

    $(function(){
        $('#table').datagrid({
            singleSelect:false,
            cache:false,
            rownumbers:true,//显示序号
            pagination:true,
            pageSize:10,
            collapsible:true,
            queryParams: {
                status : status
            }
        });

    })
</script>
</html>
