<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <title></title>
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui_animation.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/easyui_plus.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/insdep_theme_default.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/themes/insdep/icon.css" rel="stylesheet" type="text/css">
    <link href="/EasyUI-InsdepTheme/plugin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.min.js"></script>
    <script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/EasyUI-InsdepTheme/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script type="text/javascript" src="/common/setForm.js"></script>
    <style>
        #main {
            padding: 10px;
        }

        #table {
            padding-top: 10px;
        }

        #addForm {
            padding-top: 10px;

        }
        .textbox-icon,.passwordbox-open{
            width: 24px!important;
        }
    </style>
<script>


</script>
</head>

<body>
<div id="main">
    <div id="tb" style="padding:2px 5px;">
        <form id="query">
            <label class="label-top">名称:</label>
            <input class="easyui-textbox theme-textbox-radius" id="uname">
           <!-- <label class="label-top">注册日期:</label>
            <input class="easyui-datebox theme-textbox-radius" id="userRegDatestart">
            <label class="label-top">至</label>
            <input class="easyui-datebox theme-textbox-radius" id="userRegDateend">-->
            <a href="javascript:void(0)" class="easyui-linkbutton button-info"  onclick="init()">查询</a>

            <a href="#" class="easyui-linkbutton button-default" onclick="$('#window').window('open');">新增</a>
        </form>
    </div>
    <table id="table" class="easyui-datagrid" cls="theme-datagrid"
           data-options="url:'/appkind/queryAll',method:'post'">
        <thead>
        <tr>
            <th data-options="field:'kindId',width:120,align:'center',formatter:formatter">操作</th>
            <th data-options="field:'kindName',width:100,align:'center'">开箱分类名称</th>
            <th data-options="field:'kindOrder',width:80,align:'center'">序号</th>
<!--
            <th data-options="field:'Kind_Name',width:80,align:'center'">上级名称</th>
-->
            <!--<th data-options="field:'user_Trust',width:250,align:'center'">User_Trust</th>
            <th data-options="field:'user_RegDate',width:60,align:'center'">User_RegDate</th>
            <th data-options="field:'user_Money',width:60,align:'center'">User_Money</th>
            <th data-options="field:'user_Show',width:60,align:'center'">User_Show</th>
            <th data-options="field:'wx_id',width:60,align:'center'">微信id</th>-->
        </tr>
        </thead>
    </table>
</div>
<!--新增窗口-->
<div id="window" class="easyui-window" title="新增"
     data-options="collapsible:false,closable:true,maximizable:false,closed:true"
     style="width:500px;height:400px;padding:10px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" style="padding:10px;">
            <div style="text-align: center;">
                <form id="addForm">
                    <input class="easyui-textbox" name="kindId" id="kindId" hidden="true">
                    <div style="margin-bottom:20px;margin-left: -24px;">
                        <label class="label-top">开箱分类名称:</label>
                        <input class="easyui-textbox  theme-textbox-radius" name="kindName" id="kindName" style="width: 190px">
                    </div>
                    <div style="margin-bottom:20px">
                        <label class="label-top">序&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</label>
                        <input class="easyui-textbox  theme-textbox-radius" name="kindOrder" id="kindOrder" style="width: 190px">
                    </div>
                </form>
            </div>
        </div>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" href="javascript:void(0)" onclick="addAppExtend()" style="width:80px">保存</a>
            <a class="easyui-linkbutton" href="javascript:void(0)" id="onclose" style="width:80px">取消</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    $(function () {
        $("#kindId").next().hide();
        init();
    });
    function init() {
        $('#table').datagrid({
            singleSelect: true,
            closable: false,
            cache: false,
            rownumbers: true,//显示序号
            pagination: true,
            pageSize: 10,
            collapsible: true,
            fitColumns:true,
            queryParams: {//查询
                kindName: $("#uname").val(),
                PageSize:9,
                currentPage:1,
                sort:"kind_order",
                order:"desc"
            }
        });
    }
    function formatter(val, row, index) {

        var del = "<a data-kindId='" + row.kindId + "' title='删除' href='#' onclick='del(this)' class='font-red'><i></i>删除 </a> ";
        var edit = "<a data-kindId='" + row.kindId + "' title='编辑' href='#' onclick='edit(this)' class='font-teal'><i></i>编辑 </a> ";
        return del + ' ' + edit;
    }


    function addAppExtend() {
        $("input#kindId").hide();
        if($("#kindName").val()==''||$("#kindName").val()==null){
            $.messager.show({
                title: '提示',
                msg: '名称不能为空！',
                showType: 'show',
                timeout: 3000
            });
            return;
        }
        if($("#kindOrder").val()==""||$("#kindOrder").val()==null){
            $.messager.show({
                title: '提示',
                msg: '请输入序号！',
                showType: 'show',
                timeout: 3000
            });
            return;
        }
        if($("#kindName").val()==''){
            $.messager.show({
                title: '提示',
                msg: '请选择上级名称！',
                showType: 'show',
                timeout: 3000
            });
            return;
        }
        if($("#extendBegin").val()==''){
            $.messager.show({
                title: '提示',
                msg: '请填写开始时间！',
                showType: 'show',
                timeout: 3000
            });
            return;
        }
        if($("#extendEnd").val()==''){
            $.messager.show({
                title: '提示',
                msg: '请填写结束时间！',
                showType: 'show',
                timeout: 3000
            });
            return;
        }
        $.ajax({
            type: "post",
            url: "/appkind/saveOrUpdateData",
            data: $("#addForm").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $.messager.show({
                        title: '提示',
                        msg: data.msg,
                        showType: 'show',
                        timeout: 3000
                    });
                    $("#addForm").form('clear');
                    $('#table').datagrid('reload');//刷新
                    $('#window').window('close');
                } else {
                    $.messager.show({
                        title: '提示',
                        msg: data.msg,
                        showType: 'show',
                        timeout: 3000
                    });
                }

            }
        });

    }

    function del(obj) {
        $.messager.confirm('删除提示', '是否删除?', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/appkind/delete",
                    data: {
                        kindId: $(obj).attr("data-kindId")
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200) {
                            $.messager.show({
                                title: '提示',
                                msg: data.msg,
                                showType: 'show',
                                timeout: 3000
                            });
                            $('#table').datagrid('reload');//刷新
                        } else {
                            $.messager.show({
                                title: '提示',
                                msg: data.msg,
                                showType: 'show',
                                timeout: 3000
                            });
                        }

                    }
                });
            }
        });
    }
    function edit(obj) {
        $("input#kindId").hide();
                $.ajax({
                    type: "post",
                    url: "/appkind/selectOne",
                    data: {
                        kindId: $(obj).attr("data-kindId")
                    },
                    dataType: "json",
                    success: function (data) {
                        $.setForm('#addForm',data);
                        $('#window').window('open')
                    }
        });

    }
    $("#onclose").click(function () {
        $("#addForm").form('clear');
        $('#window').window('close');

    });
</script>
</html>
