<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="edge" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>CSGO</title>
	<!--
        JQuery EasyUI 1.5.x of Insdep Theme 1.0.0
        演示地址：https://www.insdep.com/example/
        下载地址：https://www.insdep.com
        问答地址：https://bbs.insdep.com

        项目地址：http://git.oschina.net/weavors/JQuery-EasyUI-1.5.x-Of-Insdep-Theme

        QQ交流群：184075694 （优先发布更新主题及内测包）
    -->
	<!--
        注意样式表优先级
        主题样式必须在easyui组件样式后。
    -->

	<link href="/EasyUI-InsdepTheme/themes/insdep/easyui.css" rel="stylesheet" type="text/css">


	<!--
        themes/insdep/easyui_animation.css
        Insdep对easyui的额外增加的动画效果样式，根据需求引入或不引入，此样式不会对easyui产生影响
    -->
	<link href="/EasyUI-InsdepTheme/themes/insdep/easyui_animation.css" rel="stylesheet" type="text/css">

	<!--
        themes/insdep/easyui_plus.css
        Insdep对easyui的额外增强样式,内涵所有 insdep_xxx.css 的所有组件样式
        根据需求可单独引入insdep_xxx.css或不引入，此样式不会对easyui产生影响
    -->
	<link href="/EasyUI-InsdepTheme/themes/insdep/easyui_plus.css" rel="stylesheet" type="text/css">

	<!--
        themes/insdep/insdep_theme_default.css
        Insdep官方默认主题样式,更新需要自行引入，此样式不会对easyui产生影响
    -->
	<link href="/EasyUI-InsdepTheme/themes/insdep/insdep_theme_default.css" rel="stylesheet" type="text/css">

	<!--
        themes/insdep/icon.css
        美化过的easyui官方icons样式，根据需要自行引入
    -->
	<link href="/EasyUI-InsdepTheme/themes/insdep/icon.css" rel="stylesheet" type="text/css">

	<!--
        2017/03/22 新增
        plugin/font-awesome-4.7.0/css/font-awesome.min.css
        第三方图标库样式，用于显示左侧菜单栏图标，根据需要自行引入
    -->
	<link href="/EasyUI-InsdepTheme/plugin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


	<script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.min.js"></script>
	<script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/EasyUI-InsdepTheme/themes/insdep/jquery.insdep-extend.min.js"></script>


</head>

<body>
<div id="master-layout">
	<div data-options="region:'north',border:false,bodyCls:'theme-header-layout'">
		<div class="theme-navigate">
			<div class="left">
				<a href="#" class="easyui-linkbutton left-control-switch"><i class="fa fa-bars fa-lg"></i></a>
			</div>
		</div>

	</div>

	<!--开始左侧菜单-->
	<div data-options="region:'west',border:false,bodyCls:'theme-left-layout'" style="width:200px;">


		<!--正常菜单-->
		<div class="theme-left-normal">

			<div class="easyui-layout" data-options="border:false,fit:true">
				<!--start region:'north'-->
				<div data-options="region:'north',border:false" style="height:100px;">
					<!--start theme-left-user-panel-->
					<div class="" style="margin-top: 10px;text-align: center;">
						<dl>
							<dt>
								<img src="/images/csgologo.png" width="150" height="43">
							</dt>
							<dt>
								用户：<b class="badge-prompt" th:text="${aUserName}"></b>							</dt>
								<a class="theme-navigate-user-logout"  href="javascript:void(0)" onclick="removeSession()">注销</a>
							</dt>
						</dl>
					</div>
					<!--end theme-left-user-panel-->
				</div>
				<!--end region:'north'-->

				<!--start region:'center'-->
				<div data-options="region:'center',border:false">
					<!--start easyui-accordion-->
					<div class="easyui-accordion" data-options="border:false,fit:true">
						<div title="用户管理">
							<ul class="easyui-datalist" data-options="border:false,fit:true">
								<li><a onclick="addTab('/user/UserController/getUserPage','用户列表',true)" style="display: block;">用户列表</a></li>
								<li><a onclick="addTab('/OpenBoxController/getOpenBox','开箱空间',true)" style="display: block;">开箱空间</a></li>
							</ul>
						</div>
						<div title="开箱管理">
							<ul class="easyui-datalist" data-options="border:false,fit:true">
								<li><a onclick="addTab('/appkind/getAppkind','箱子类别',true)" style="display: block;">箱子类别</a></li>
								<li><a onclick="addTab('/appextend/getAppextend','箱子管理',true)" style="display: block;">箱子管理</a></li>
								<li><a onclick="addTab('/appproduct/getAppproduct','物品管理',true)" style="display: block;">物品管理</a></li>
							</ul>
						</div>
						<div title="竞技场">
							<ul class="easyui-datalist" data-options="border:false,fit:true">
								<li><a onclick="addTab('/RoomController/getRoom','房间管理',true)" style="display: block;">房间管理</a></li>
							</ul>
						</div>
						<div title="游戏商城">
							<ul class="easyui-datalist" data-options="border:false,fit:true">
								<li><a onclick="addTab('/appextend/getStoreBox','游戏商城',true)" style="display: block;">游戏商城</a></li>
								<li><a onclick="addTab('/appproduct/getStoreProduct','游戏商城',true)" style="display: block;">游戏商城</a></li>
							</ul>
						</div>
						<div title="系统管理">
							<ul class="easyui-datalist" data-options="border:false,fit:true">
								<li><a onclick="addTab('/AdminUser/getAdminUser','系统用户管理',true)" style="display: block;">管理员列表</a></li>
							</ul>
						</div>
					</div>
					<!--end easyui-accordion-->
				</div>
				<!--end region:'center'-->
			</div>
			<!--end class="easyui-layout"-->

		</div>
		<!--最小化菜单-->
		<!--<div class="theme-left-minimal">
			<ul class="easyui-datalist" data-options="border:false,fit:true">
				<li><i class="fa fa-home fa-2x"></i><p>主题</p></li>
				<li><i class="fa fa-book fa-2x"></i><p>组件</p></li>
				<li><i class="fa fa-pencil fa-2x"></i><p>编辑</p></li>
				<li><i class="fa fa-cog fa-2x"></i><p>设置</p></li>
				<li><a class="left-control-switch"><i class="fa fa-chevron-right fa-2x"></i><p>打开</p></a></li>
			</ul>
		</div>-->

	</div>
	<!--结束左侧菜单-->

	<div data-options="region:'center',border:false"  id="control" style="background:#fff;">
		<div id="mainTabs" class="easyui-tabs" data-options="tools:'#tab-tools',border:false,fit:true,tabPosition:'top',headerWidth:120,tabHeight:40">

			<div class="easyui-tab" data-options="closable:false,iconCls:'main_icon icon_index'"
				 title="首页"
				 style="padding:0; overflow: hidden">
				<iframe id="index" name="index" src="" frameborder="0" width="100%"
						height="100%">
				</iframe>
			</div>
			<!-- <div title="Sub Tabs" style="padding:10px;">
                 <div class="easyui-tabs" data-options="fit:true,plain:true">
                     <div title="Title1" style="padding:10px;">Content 1</div>
                     <div title="Title2" style="padding:10px;">Content 2</div>
                     <div title="Title3" style="padding:10px;">Content 3</div>
                 </div>
             </div>
             <div title="Ajax" data-options="href:'example/tabs/_content.html',closable:true" style="padding:10px"></div>
             <div title="Iframe" data-options="closable:true" style="overflow:hidden">
             </div>
             <div title="DataGrid" data-options="closable:true" style="padding:10px">
                 <table class="easyui-datagrid" data-options="fit:true,singleSelect:true,rownumbers:true">
                     <thead>
                     <tr>
                         <th data-options="field:'f1',width:100">Title1</th>
                         <th data-options="field:'f2',width:100">Title2</th>
                         <th data-options="field:'f3',width:100">Title3</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                         <td>d11</td>
                         <td>d12</td>
                         <td>d13</td>
                     </tr>
                     <tr>
                         <td>d21</td>
                         <td>d22</td>
                         <td>d23</td>
                     </tr>
                     </tbody>
                 </table>
             </div>-->
		</div>
	</div>
</div>



<script type="text/javascript">

	function addTab(url, title, YN) {//参数：页面链接、tab标题、是否刷新页面（传true或者false）
		var content = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:99.3%;"></iframe>';
		if ($("#mainTabs").tabs("exists", title)) {
		    console.log(111);
			var tab = $("#mainTabs").tabs("getTab", title);
			if (YN) {//判断是否刷新选项卡页面
				$("#mainTabs").tabs('update', {
					tab: tab,
					options: {
						title: title,
						content: content,
						closable: true
					}
				});
			}
			$("#mainTabs").tabs("select", title);
		} else {
			$("#mainTabs").tabs('add', {
				title: title,
				content: content,
				closable: true
			});
		}
	}
	$(function(){


		/*布局部分*/
		$('#master-layout').layout({
			fit:true/*布局框架全屏*/
		});




		/*右侧菜单控制部分*/

		var left_control_status=true;
		var left_control_panel=$("#master-layout").layout("panel",'west');
        onclick();
		function onclick() {
            left_control_panel.panel('resize',{width:20});
            left_control_status=false;
            $(".theme-left-normal").hide();
            $(".theme-left-minimal").show();
            $("#master-layout").layout('resize', {width:'100%'})
        }
		$(".left-control-switch").on("click",function(){
			if(left_control_status){
				left_control_panel.panel('resize',{width:20});
				left_control_status=false;
				$(".theme-left-normal").hide();
				$(".theme-left-minimal").show();
			}else{
				left_control_panel.panel('resize',{width:200});
				left_control_status=true;
				$(".theme-left-normal").show();
				$(".theme-left-minimal").hide();
			}
			$("#master-layout").layout('resize', {width:'100%'})
		});

		$(".theme-navigate-user-modify").on("click",function(){
			$('.theme-navigate-user-panel').menu('hide');
			$.insdep.window({id:"personal-set-window",href:"user.html",title:"修改资料"});

		});
		//$.insdep.control("list.html");



		var cc1=$('#cc1').combo('panel');
		cc1.panel({cls:"theme-navigate-combobox-panel"});
		var cc2=$('#cc2').combo('panel');
		cc2.panel({cls:"theme-navigate-combobox-panel"});



		/*$("#open-layout").on("click",function(){
                var option = {
                    "region":"west",
                    "split":true,
                    "title":"title",
                    "width":180
                };
                $('#master-layout').layout('add', option);

        });*/


	});
	function doSearch(value,name){
		alert('You input: ' + value+'('+name+')');
	}
 function removeSession() {
	 $.ajax({
	     type: "get",
	     url: "/LoginController/removeSession",
	     data: {
             userType:1
	     },
	     dataType: "json",
	     success: function(data){
			 if(data.httpCode==200){
                 window.location.reload();
			 }
	     }
	  });
 }
</script>

<!--第三方插件加载-->
<script src="/EasyUI-InsdepTheme/plugin/justgage-1.2.2/raphael-2.1.4.min.js"></script>
<script src="/EasyUI-InsdepTheme/plugin/justgage-1.2.2/justgage.js"></script>


<script src="/EasyUI-InsdepTheme/plugin/Highcharts-5.0.0/js/highcharts.js"></script>


<script type="text/javascript" src="/EasyUI-InsdepTheme/plugin/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" src="/EasyUI-InsdepTheme/plugin/ueditor-1.4.3.3/ueditor.all.min.js"></script>


<link href="/EasyUI-InsdepTheme/plugin/cropper-2.3.4/dist/cropper.min.css" rel="stylesheet" type="text/css">
<script src="/EasyUI-InsdepTheme/plugin/cropper-2.3.4/dist/cropper.min.js"></script>


<!--第三方插件加载结束-->

</body>
</html>
