<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, user-scalable=yes">
    <title>游戏cc平台</title>
        <link rel="stylesheet" href="/userResous/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userResous/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/userResous/css/main.css">
    <link rel="stylesheet" href="/userResous/css/user.css">
    <script src="/userResous/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/userResous/js/owl.carousel.min.js"></script>
    <script src="/userResous/js/main.js" type="text/javascript"></script>
    <script src="/userResous/layer/layer.js"></script>
    <script src="/js/vue.js"></script>
</head>

<body>
<div class="reg_mask"></div>
<div class="reg_box reg">
   <div class="top">
      注册 <img class="reg_close" src="/userResous/images/guanbi.jpg">
   </div>
   <div class="zhuce">
      <input type="text" name="" id="username" placeholder="请输入您的账号">
      <input type="password" name="" id="password" placeholder="请输入8-20位含大小写字母和数字的密码">
      <input type="text" name="" id="tel" placeholder="请输入手机">
      <input type="text" name="" id="email" placeholder="请输入邮箱">
      <input type="text" name="" id="qq" placeholder="请输入qq号码">
      <div class="xieyi">
        <label> <span><input type="checkbox" name="" checked=""></span> 我已阅读并接受 <b>《服务协议》</b></label>
      </div>
      <button type="button" id="reg_button">注册</button>
   </div>
</div>
<div class="reg_box login">
   <div class="top">
      登录 <img class="reg_close" src="/userResous/images/guanbi.jpg">
   </div>
   <div class="zhuce">
      <input type="text" name="" id="login_username" placeholder="请输入您的账号">
      <input type="password" name="" id="login_password" placeholder="请输入密码">
      <div class="reg_wjmm"><a href="###">忘记密码</a></div>

      <button type="button" id="login_button">登录</button>

      <button type="button" id="reg_click1">注册</button>
   </div>
</div>




     <div class="top-menu">
             <div class="main-content">
                   <div class="menu">
                      <div class="xiao">
                         <div class="fl">欢迎来到cccc平台</div>
                         <div class="fr"><a href="userCenter.html">个人中心</a></div>
                      </div>
                      <ul>
                         <li class="logo"><img src="/userResous/images/logo.png"></li>
                         <li class="t1"><a href="index.html"><img src="/userResous/images/nav01.png"></a></li>
                         <li class="t2"><a href="csgo.html"><img src="/userResous/images/nav02.png"></a></li>
                         <li class="t3"><a href="shangcheng.html"><img src="/userResous/images/nav03.png"></a></li>
                         <li class="t4"><a href="kaixiang.html"><img src="/userResous/images/nav4.png"></a></li>
                         <li class="t5"><a href="jingji.html"><img src="/userResous/images/nav5.png"></a></li>
                         <li class="t6"><a href="choujiang.html"><img src="/userResous/images/nav6.png"></a></li>
                         <li class="t7"><a href="tuiguang.html"><img src="/userResous/images/nav7.png"></a></li>
                                                  <li class="anniu"><a href="###" id="login_click">登录</a><a href="###" id="reg_click">注册</a></li>
                                               </ul>
                   </div>
                   <div class="xia-menu">
                                  <ul class="qie1 owl-carousel owl-theme">
                <li>
                   <div class="image-large"><img src="/userResous/images/21542381137415.png"></div>
                   <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/41542381170816.png"></div>
                   <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/41542967175767.png"></div>
                   <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/51542967191532.png"></div>
                   <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/61542381203596.png"></div>
                   <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/151542381406552.png"></div>
                  <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/161542967622310.png"></div>
                  <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/171542967648913.png"></div>
                 <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
                <li>
                   <div class="image-large"><img src="/userResous/images/261543032288138.png"></div>
                  <div class="text">454545454@QQ.COM<br>格洛克18型<br>城里的月光（究竟沙场）</div>
                </li>
             </ul>
                   </div>
             </div>
      </div>

      <!-- ============== top ============ -->
       <div class="jingji">


<div class="reg_box sheding">
   <div class="top">
      设定房间 <img class="reg_close" src="/userResous/images/guanbi.jpg">
   </div>
   <div class="zhuce">
      <input type="number" name=""  placeholder="请输入参加人数">
      <input type="number" name="" id="password" placeholder="开箱个数">
      <select><option value="大型箱子">大型箱子</option><option value="小型箱子">小型箱子</option></select>
      <div class="clear"></div><div class="clear"></div>
      <button type="button" id="sheding">设定完成</button>
   </div>
</div>



          <div class="main-content">
<!--              <div class="title-img"><img src="/userResous/images/kaixiang.png"></div>-->
              <div class="kaixiang">
				        <div class="lingqu">
				      	  	   <img id="zhongjiang_img" >
                                <h2 id="productName"></h2>
                                <h3 id="productSpec"></h3>
                                <h2 id="productSale"></h2>
				      	  	   <a  class="kai" id="lingjiang">领取奖品</a>
				      	  </div>

	              	  <img src="/userResous/images/kaixiangbg.png">
	              	  <div id="kai_pre" class="neirong">
                          <h2 th:text="${appextend.extendName}"></h2>
                          <input type="hidden" id="extendId" th:value="${appextend.extendId}">
	              	  	   <img th:src="'/csgo_img/'+${appextend.extendPic}">
	                       <a href="###" class="kai" id="kaijiang">立即开箱</a>
	                       <a href="userCenter.html" class="goToPageUC">充值金币 》</a>
	              	  </div>
                      <div class="zhezhu" id="zhezhu">
                      	    <div class="xiaoguo"></div>

						    <div class="owl-carousel gundong">
                                <div th:each="product , i : ${appproducts}">
                        <span th:id="${i.index}">
                             <img th:src="'/csgo_img/'+${product.productPictrure}">
                        </span>
                                </div>
						  </div>

						   <a href="###"  class="kai"><span id="time">2</span> 秒后开奖</a>

					  </div>

              </div>
                  <div class="clear"></div>
	              <div class="mingxi">
	                 <div>
	                     <img src="/userResous/images/tu2.png" width="100%">
	                 </div>
	                 <div class="con">
	                     	  <div class="title-img"><img src="/userResous/images/diaoluo.png"></div>
				              <div class="xiaowen">共有6件物品在这个箱子中</div>
				              <ul class="diaoluo" >
				              	 <li th:each="product , i : ${appproducts}" th:class="'t'+${i.index}"  >
				              	 	  <i class="iconfont icon-wupinzhongleitubiao1 box-type-0"></i>
				              	 	  <span><img th:src="'/csgo_img/'+${product.productPictrure}"></span>
				              	 	  <p th:text="${product.productName}"></p>
				              	 	  <div class="beiji">
				              	 	  	   <h3 th:text="${product.productPosition}"></h3>
                                          数量:<span th:text="${product.productCount}"></span>
				              	 	  	   <br>
				              	 	  	  参考价:<span th:text="${product.productSale}+'GB'"></span>
				              	 	  	  <br>
				              	 	  	  可出售物品
				              	 	  </div>
				              	 </li>

				              </ul>
	                 </div>
	                 <div><img src="/userResous/images/tu1.png" width="100%">
	                 </div>
	              </div>

          </div>
      </div>


<script type="text/javascript">

    $(function(){

        var owl = $('.owl-carousel.gundong');

        $(".owl-carousel.gundong").owlCarousel({
            loop:true,
            items: 7,

            autoplaySpeed:200,
            autoplayTimeout:100,
            autoplayHoverPause:false,
            dots:false,
        });


        function lingjiang(){
            $(".reg_mask").fadeIn();
            $(".lingqu").fadeIn();
        }







        $("#kaijiang").click(function(event) {

            $("#kai_pre").hide();
            $("#zhezhu").css('margin-top', 100);;
            owl.trigger('play.owl.autoplay');
            $.ajax({
                type: "post",
                url: "/csgo/lingjiang",
                data: {
                    extendId:  $("#extendId").val()
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#zhongjiang_img").attr('src', '/csgo_img/'+data.productPictrure);
                    $("#productName").html(data.productName);
                    $("#productSpec").html(data.productSpec);
                    $("#productSale").html(data.productSale);
                }
            });
            var time=2;
            var time1=setInterval(function(){
                console.log(time);
                    if(time==0){
                        owl.trigger('to.owl.carousel', [1,300]);
                        owl.trigger('stop.owl.autoplay');
                        lingjiang();
                        clearInterval(time1);
                        $("#time").html('0');
                    }else{
                        $("#time").html(time);
                        time--;
                    }
                },
                1000);




        });

    })


</script>
<div class="footer">
         <div class="main-content">
             <div class="fl"><img src="/userResous/images/logo2.png"></div>
             <div class="fr">
                 <div class="t1">
                    <a href="">关于我们</a>
                    <a href="">常见问题</a>
                    <a href="">使用条款</a>
                    <a href="">隐私政策</a>
                    <a href="">联系客服</a>
                  </div>
                  <div class="t2">
                     <img src="/userResous/images/bot.png">
                  </div>
             </div>
         </div>
      </div>

</body>
</html>