<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, user-scalable=yes">
    <title>游戏cc平台</title>
        <link rel="stylesheet" href="/pksite/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/pksite/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/pksite/css/main.css">

    <!--<script src="/pksite/js/jquery-3.4.1.min.js" type="text/javascript"></script>-->
    <script src="/pksite/js/owl.carousel.min.js"></script>
    <!--<script src="/pksite/js/main.js" type="text/javascript"></script>-->
    <!--<script src="/pksite/layer/layer.js"></script>-->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script type="text/javascript" src="/EasyUI-InsdepTheme/jquery.easyui.min.js"></script>
</head>

<body class="index">
<p href="#" th:text="${aUsername}" id="aUsername">
<div class="main-content">
<audio id="dian_audio"><source src="/pksite/audio/dian.mp3" type="audio/mpeg"></audio>
<audio id="gun_audio"><source src="/pksite/audio/gun.wav" type="audio/wav"></audio>
<audio id="xian_audio"><source src="/pksite/audio/xian.wav" type="audio/wav"></audio>






     <div id="jingji">
         <h1> <a id="backlist" href="###"><img src="/pksite/images/fanhui.jpg"> &nbsp;返回列表</a> 竞技场</h1>
         <div class="top">
            <div class="t1">总共价格 <span>$</span> 1.16</div>
            <div class="t2"> 4  回合</div>
            <div class="t3"> 完成 </div>
         </div>
         <div class="jindu">
              <ul class="list">
                  <li><div class="quan">1</div></li>
                  <li><div class="quan">2</div></li>
                  <li><div class="quan">3</div></li>
                  <li><div class="quan">4</div></li>
                  <li><div class="quan">5</div></li>
                  <li><div class="quan">6</div></li>
              </ul>
              <div class="line"></div>
              <ul class="list">
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
              </ul>
         </div>
         <div class="bisai">
              <div class="active">
                  <div class="kuang">
                      <div class="zhong">

<div id="demo1" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q1.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q6.png"></li>
    </ul>
 </div>

                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>
                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon1.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" ></div>
                  </div>
                  <div class="jieguo">
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">


<div id="demo2" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
      <li><img src="/pksite/images/q2.png"></li>Web_CSGO
      <li><img src="/pksite/images/q6.png"></li>
    </ul>
 </div>
                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>

                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon2.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 80%"></div>
                  </div>
                  <div class="jieguo">

                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">

<div id="demo3" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q6.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
    </ul>
 </div>


                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>

                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon3.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 10%"></div>
                  </div>
                  <div class="jieguo">

                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">

<div id="demo4" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q6.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
    </ul>
 </div>

                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>

                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon4.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 30%"></div>
                  </div>
                  <div class="jieguo">
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q4.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>

                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
         </div>
     </div>

    <div id="xiangzi">
        <h1>创建房间</h1>
        <div class="panel"><span>竞技场列表</span> <em>场竞技</em></div>
        <a  onclick="addUser()" class="easyui-linkbutton" id="addRoom2">创建竞技场</a>

        <div class="shangbiao"><span>玩家</span><span>战斗场景</span><span>话费</span></div>

        </div>
    </div>


     <div id="liebiao">
           <h1>竞技场</h1>
           <div class="panel"><span>竞技场列表</span> <em>场竞技</em></div>
         <a  onclick="addUser()" class="easyui-linkbutton" id="addRoom">创建竞技场</a>
         <a  id="addbox">创建竞技场</a>

         <div class="shangbiao"><span>玩家</span><span>战斗场景</span><span>话费</span></div>
           <div id="list-gun">
               <ul class="team-list"  id="ul">



               </ul>
           </div>
     </div>




</div>








<script type="text/javascript">



    function  jingji() {
        console.log();
         $('#dian_audio')[0].play();
         $("#jingji").fadeIn();
         $("#liebiao").fadeOut();
    interval1 =  setInterval('AutoScroll("#demo1")', 100);
    interval2 =  setInterval('AutoScroll("#demo2")', 100);
    interval3 =  setInterval('AutoScroll("#demo3")', 100);
    interval4 =  setInterval('AutoScroll("#demo4")', 100);

     $("#jingji .bisai >div .juli .line").animate({

         width:"30%"
    },
    4000
    )
    $("#jingji .bisai >div.active .juli .line").animate({
         width:"100%"
    },
    4000
    )

    $("#jingji .bisai > div.active .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });

    $("#jingji .bisai > div:nth-child(2) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });
    $("#jingji .bisai > div:nth-child(3) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });
    $("#jingji .bisai > div:nth-child(4) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });



    };
    $("#backlist").click(function(event) {
         $('#dian_audio')[0].play();
         $("#liebiao").fadeIn();
         $("#jingji").fadeOut();
         $("#addbox").fadeOut();
    });

    $("#addbox").click(function(event) {
        //$('#dian_audio')[0].play();
        $("#xiangzi").fadeIn();
        $("#liebiao").fadeOut();
        $("#jingji").fadeOut();
    });

$(function () {
    $("#liebiao").fadeIn();
    $("#jingji").fadeOut();
    $("#xiangzi").fadeOut();
});


var cishu=0;
function AutoScroll(obj) {
    cishu++;
    if(cishu===200){

       clearInterval(interval1);
       clearInterval(interval2);
       clearInterval(interval3);
       clearInterval(interval4);
       $('#xian_audio')[0].play();
    }
    $(obj).find("ul:first").animate({
        marginTop: "-100px"
    },
    100,
    function() {
        $('#gun_audio')[0].play();
        $(this).css({
            marginTop: "0px"
        }).find("li:first").appendTo(this);
    });

}




</script>
</body>


<script th:inline="JavaScript">
    var Room;
    var webSocket;
    var commWebSocket;
    if ("WebSocket" in window) {
        webSocket = new WebSocket("ws://localhost:8986/websocketPkRoom" );

        //连通之后的回调事件
        webSocket.onopen = function () {
            //webSocket.send( document.getElementById('username').value+"已经上线了");
            console.log("已经连通了websocket");
            setMessageInnerHTML("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt) {
            var received_msg = evt.data;
            console.log("数据已接收:" + received_msg);
            var obj = JSON.parse(received_msg);
            console.log("可以解析成json:" + obj.messageType);
            //1代表上线 2代表下线 3代表在线名单 4代表普通消息
            if (obj.messageType == 1) {
            } else if (obj.messageType == 2) {
            } else if (obj.messageType == 3) {
            } else {
                Room=obj.textMessage;
              setMessageInnerHTML(Room);


            }
        };

        //连接关闭的回调事件
        webSocket.onclose = function () {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
        };
    } else {
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }

    //将消息显示在网页上
    function setMessageInnerHTML(ro) {
     // $("#ul").html("");
       var test;
        var roomlist;
        ro.forEach(function(e){
            console.log(e.type);
            var img="";
            var box="";
            var type="";
            e.img.forEach(function(i){
                img+="<span><img src="+i+"></span>\n";
            });

            e.box.forEach(function(b){
                box+=("                                  <li>\n" +
                    "                                      <div><img src='"+b.img+"'></div>\n" +
                    "                                      <span>"+b.name+"</span>\n" +
                    "                                  </li>\n") ;
            });
            console.log(box);

            if(e.type==1){
                type="    <li class='active'>\n" +
                    "                     <div class='div_table'>\n" +
                    "                         <div class='t1'>\n" +
                    "                             <span> <i class='icon-game-spinner-rotating icon-refresh-arrows'><img src='/pksite/images/zhuan.jpg'></i><br>正<br>在<br>等<br>待<br></span>\n" +
                    "                         </div>\n" +
                    "                         <div class='t2'>\n";
            }else{

                type="    <li >\n" +
                    "                     <div class='div_table'>\n" +
                    "                         <div class='t1'>\n" +
                    "                             <span> <i class=\"icon-game-spinner-rotating icon-refresh-arrows\"><img src=\"/pksite/images/wan.jpg\"></i><br>正<br>在<br>进<br>行<br></span>\n" +
                    "                         </div>\n" +
                    "                         <div class='t2'>\n";

            }

            roomlist = type +
                img+
                "                         </div>\n" +
                "                         <div class='t3'>\n" +
                "                             <div class='title'>4 回合</div>\n" +
                "                             <div class='con'>\n" +
                "                              <ul class='xiaoxiang'>\n" +
                box+
                "                          </ul>\n" +
                "                             </div>\n" +
                "                         </div>\n" +
                "                         <div class='t4'><span>$</span>"+e.monye+"</div>\n" +
                "                         <div class='t5'><button class='btn' onclick=jingji()>打开</button></div>\n" +
                "                     </div>\n" +
                "                  </li>" +roomlist;
        });
        $("#ul").html(roomlist);
        // document.getElementById('ul').innerHTML += innerHTML + '<br/>';
    }

    $("#closeWebSocket").click(function () {
        console.log("关闭连接");
        //直接关闭websocket的连接
        webSocket.close();
    })

    function addUser() {
        console.log("执行了")
        $.ajax({
            type: "get",
            url: "/pkRoom/add",
            dataType: "json",
            success: function () {
                console.log("成功了")
            }
        });



    }



    $("#sendMessageButton").click(function () {
        console.log("发送消息")
      //  var selectText = $("#onLineUser").find("option:selected").text();
        //if (selectText == "--所有--") {
        var   selectText = "All";
        // } else {
        //     setMessageInnerHTML(document.getElementById('username').value + "对" + selectText + "说：" + $("#text").val());
        // }
        var message = {
            "message": document.getElementById('text').value,
            "username": document.getElementById('username').value,
            "to": selectText
        };
        webSocket.send(JSON.stringify(message));
        $("#text").val("");
    })
</script>









</html>