<!DOCTYPE html>
<html lang="zh-CN">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, user-scalable=yes"> 
    <title>游戏cc平台</title>
        <link rel="stylesheet" href="/pksite/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/pksite/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/pksite/css/main.css">

    <script src="/pksite/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/pksite/js/owl.carousel.min.js"></script>
    <script src="/pksite/js/main.js" type="text/javascript"></script>
    <script src="/pksite/layer/layer.js"></script>

</head>

<body class="index">
<div class="main-content">
<audio id="dian_audio"><source src="/pksite/audio/dian.mp3" type="audio/mpeg"></audio>
<audio id="gun_audio"><source src="/pksite/audio/gun.wav" type="audio/wav"></audio>
<audio id="xian_audio"><source src="/pksite/audio/xian.wav" type="audio/wav"></audio>






     <div id="jingji">
         <h1> <a id="backlist" href="###"><img src="/pksite/images/fanhui.jpg"> &nbsp;返回列表</a> 竞技场</h1>
         <div class="top">
            <div class="t1">总共价格 <span>$</span> 1.16</div>
            <div class="t2"> 4  回合</div>
            <div class="t3"> 完成 </div>
         </div>
         <div class="jindu">
              <ul class="list">
                  <li><div class="quan">1</div></li>
                  <li><div class="quan">2</div></li>
                  <li><div class="quan">3</div></li>
                  <li><div class="quan">4</div></li>
                  <li><div class="quan">5</div></li>
                  <li><div class="quan">6</div></li>
              </ul>     
              <div class="line"></div>
              <ul class="list">
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
                  <li><div class="tu"><img src="/pksite/images/b1.png"></div></li>
              </ul>      
         </div>
         <div class="bisai">
              <div class="active">
                  <div class="kuang">
                      <div class="zhong">
                        
<div id="demo1" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q1.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q6.png"></li>
    </ul>
 </div>

                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>
                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon1.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" ></div>
                  </div>
                  <div class="jieguo">
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">


<div id="demo2" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q6.png"></li>
    </ul>
 </div>                    
                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>

                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon2.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 80%"></div>
                  </div>
                  <div class="jieguo">

                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">

<div id="demo3" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q6.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
    </ul>
 </div>                    


                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>
                  
                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon3.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 10%"></div>
                  </div>
                  <div class="jieguo">

                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="">
                  <div class="kuang">
                    <div class="zhong">
                    
<div id="demo4" class="gundong" >
    <ul>
      <li><img src="/pksite/images/q3.png"></li>
      <li><img src="/pksite/images/q4.png"></li>
      <li><img src="/pksite/images/q5.png"></li>
      <li><img src="/pksite/images/q6.png"></li>
      <li><img src="/pksite/images/q2.png"></li>
      <li><img src="/pksite/images/q1.png"></li>
    </ul>
 </div>

                      </div>
                      <div class="fl"><img src="/pksite/images/left-arrow.png"></div>
                      <div class="fr"><img src="/pksite/images/right-arrow.png"></div>
                  
                  </div>
                  <div class="wenzi">
                     <div class="fl">kaktus</div>
                     <div class="fr">$2.18</div>
                     <div class="icon"><img src="/pksite/images/icon4.jpg"></div>
                  </div>
                  <div class="juli">
                      <div class="line" style="width: 30%"></div>
                  </div>
                  <div class="jieguo">
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q4.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                      
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                       <div class="xiangtu">
                          <div>
                              ST(WW)
                              <img src="/pksite/images/q1.png">
                              Glock-18<br>铁之作<br>
                              <div class="price">$ 0.78</div>
                          </div>
                       </div>
                  </div>
              </div>
         </div>
     </div>



     <div id="liebiao">
           <h1>竞技场</h1>
           <div class="panel"><span>竞技场列表</span> <em>3场竞技</em></div>
           <div class="shangbiao"><span>玩家</span><span>战斗场景</span><span>话费</span></div>
           <div id="list-gun">
               <ul class="team-list">
                  <li>
                     <div class="div_table">
                         <div class="t1">
                           <span> <i class="icon-game-spinner-rotating icon-refresh-arrows"><img src="/pksite/images/zhuan.jpg"></i><br>正<br>在<br>等<br>待<br></span>
                         </div>
                         <div class="t2">
                             <span><img src="/pksite/images/icon1.jpg"></span>
                             <span><img src="/pksite/images/icon2.jpg"></span>
                             <span><img src="/pksite/images/icon4.jpg"></span>
                         </div>
                         <div class="t3">
                             <div class="title">4 回合</div>
                             <div class="con">
                              <ul class="xiaoxiang">
                                   <li>
                                      <div><img src="/pksite/images/b1.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b2.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b3.png"></div>
                                      <span>friday case</span>
                                  </li>


                              </ul>
                             </div>
                         </div>
                         <div class="t4"><span>$</span>13.88</div>
                         <div class="t5"><button class="btn">打开</button></div>
                     </div>
                  </li>

                  <li class="active">
                     <div class="div_table">
                         <div class="t1">
                           <span> <i class="icon-game-spinner-rotating icon-refresh-arrows"><img src="/pksite/images/wan.jpg"></i><br>正<br>在<br>进<br>行<br></span>
                         </div>
                         <div class="t2">
                             <span><img src="/pksite/images/icon1.jpg"></span>
                             <span><img src="/pksite/images/icon2.jpg"></span>
                             <span><img src="/pksite/images/icon3.jpg"></span>
                             <span><img src="/pksite/images/icon4.jpg"></span>
                         </div>
                         <div class="t3">
                             <div class="title">4 回合</div>
                             <div class="con">
                              <ul class="xiaoxiang">
                                   <li>
                                      <div><img src="/pksite/images/b1.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b2.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b3.png"></div>
                                      <span>friday case</span>
                                  </li>


                              </ul>
                             </div>
                         </div>
                         <div class="t4"><span>$</span>13.88</div>
                         <div class="t5"><button class="btn">打开</button></div>
                     </div>
                  </li>
                  <li>
                     <div class="div_table">
                         <div class="t1">
                           <span> <i class="icon-game-spinner-rotating icon-refresh-arrows"><img src="/pksite/images/zhuan.jpg"></i><br>正<br>在<br>等<br>待<br></span>
                         </div>
                         <div class="t2">
                             <span><img src="/pksite/images/icon1.jpg"></span>
                             <span><img src="/pksite/images/icon2.jpg"></span>
                             <span><img src="/pksite/images/icon4.jpg"></span>
                         </div>
                         <div class="t3">
                             <div class="title">4 回合</div>
                             <div class="con">
                              <ul class="xiaoxiang">
                                   <li>
                                      <div><img src="/pksite/images/b1.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b2.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b3.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b4.png"></div>
                                      <span>friday case</span>
                                  </li>

                              </ul>
                             </div>
                         </div>
                         <div class="t4"><span>$</span>13.88</div>
                         <div class="t5"><button class="btn">打开</button></div>
                     </div>
                  </li>

                  <li class="active">
                     <div class="div_table">
                         <div class="t1">
                           <span> <i class="icon-game-spinner-rotating icon-refresh-arrows"><img src="/pksite/images/wan.jpg"></i><br>正<br>在<br>进<br>行<br></span>
                         </div>
                         <div class="t2">
                             <span><img src="/pksite/images/icon1.jpg"></span>
                             <span><img src="/pksite/images/icon3.jpg"></span>
                             <span><img src="/pksite/images/icon4.jpg"></span>
                         </div>
                         <div class="t3">
                             <div class="title">4 回合</div>
                             <div class="con">
                              <ul class="xiaoxiang">
                                   <li>
                                      <div><img src="/pksite/images/b1.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b2.png"></div>
                                      <span>friday case</span>
                                  </li>
                                  <li>
                                      <div><img src="/pksite/images/b3.png"></div>
                                      <span>friday case</span>
                                  </li>


                              </ul>
                             </div>
                         </div>
                         <div class="t4"><span>$</span>13.88</div>
                         <div class="t5"><button class="btn">打开</button></div>
                     </div>
                  </li>
               </ul>
           </div>
     </div>


</div>


<script type="text/javascript">

   




  

    $("#liebiao ul.team-list li .btn").click(function(event) {
         $('#dian_audio')[0].play();
         $("#jingji").fadeIn();
         $("#liebiao").fadeOut();
    interval1 =  setInterval('AutoScroll("#demo1")', 100);
    interval2 =  setInterval('AutoScroll("#demo2")', 100);
    interval3 =  setInterval('AutoScroll("#demo3")', 100);
    interval4 =  setInterval('AutoScroll("#demo4")', 100);

     $("#jingji .bisai >div .juli .line").animate({
        
         width:"30%"
    },
    4000
    )
    $("#jingji .bisai >div.active .juli .line").animate({ 
         width:"100%"
    },
    4000
    )

    $("#jingji .bisai > div.active .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });

    $("#jingji .bisai > div:nth-child(2) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });
    $("#jingji .bisai > div:nth-child(3) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });
    $("#jingji .bisai > div:nth-child(4) .jieguo .xiangtu").each(function(index, el) {
          $(this).delay(3000).delay(index+'000').fadeIn(500);
    });



    });
    $("#backlist").click(function(event) {
         $('#dian_audio')[0].play();
         $("#liebiao").fadeIn();
         $("#jingji").fadeOut();
    });





var cishu=0;
function AutoScroll(obj) {
    cishu++;
    if(cishu===200){

       clearInterval(interval1);
       clearInterval(interval2);
       clearInterval(interval3);
       clearInterval(interval4);
       $('#xian_audio')[0].play();
    }
    $(obj).find("ul:first").animate({
        marginTop: "-100px"
    },
    100,
    function() {
        $('#gun_audio')[0].play();
        $(this).css({
            marginTop: "0px"
        }).find("li:first").appendTo(this);
    });

}





function hideList1(obj) {


    var zhongjiang=Math.random() * 3 | 0;
    $(obj).find("ul.team-list > li:eq("+zhongjiang+")").animate({
        
        height:"0px",marginBottom:0
    },
    1000

      // function() {

      //   $(this).css({
      //         opacity: "1",height:"220px"
      //     }).appendTo("ul.team-list");
      // }

    ).delay(1000).animate({height:"220px",marginBottom:30},1000)

    // $(obj).find("ul.team-list > li:first").delay(3000).css({
    //          opacity:.5
    //       });
    
    // 
    // 

    // $(obj).find("ul.team-list > li:first").animate({ height:"0px"},"2000");
    // $(obj).find("ul.team-list > li:first").animate({ height:"220px"},
    //       function() {
    //         $(this).appendTo("ul.team-list");
    //       }
    //   );

 // var $one_li = $(obj).find("ul.team-list > li:eq(1)");    
 // var $two_li = $(obj).find("ul.team-list > li:eq(2)"); 
 // $two_li.insertBefore($one_li);   

}

function hideList2(obj) {
   $(obj).find("ul.team-list > li:first").appendTo("ul.team-list").animate({height:"220px"},1000);
}

//hideList1("#list-gun");

HideList1 =  setInterval('hideList1("#list-gun")', 4000);
//HideList2 =  setInterval('hideList2("#list-gun")', 3000);


function index_icon(){
	var xulei=Math.random() * 3 | 0;
	var xulei1=Math.random() * 3 | 0;
   
	console.log(xulei);
  
    $("#liebiao ul.team-list > li:eq("+xulei+") .div_table>div.t2 span:eq("+xulei1+")").fadeOut(1000).delay(3000).fadeIn(1000);
}

setInterval('index_icon()', 4000);



$(function(){



})
</script>
</body>
</html>