<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Web_CSGO.mapper.AppextendMapper">

    <resultMap type="com.Web_CSGO.entity.Appextend" id="AppextendMap">
        <result property="extendId" column="Extend_ID"/>
        <result property="extendName" column="Extend_Name"/>
        <result property="extendOrder" column="Extend_Order"/>
        <result property="kindId" column="Kind_ID"/>
        <result property="extendBegin" column="Extend_Begin"/>
        <result property="extendEnd" column="Extend_End"/>
        <result property="Extend_Pic" column="extendPic"/>

    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAllList" resultType="java.util.HashMap">
        select
        Extend_ID extendId, Extend_Name extendName,Extend_Order extendOrder, a.Kind_ID kindId, Extend_Begin extendBegin, Extend_Sale extendSale,
        Extend_End extendEnd,b.Kind_Name kindName,
        Extend_Pic extendPic
        from dbo.APPExtend a,dbo.APPKind b
        <where>
            b.Kind_Id=a.Kind_Id
            <if test="obj.extendId != null and obj.extendId != ''">
                and Extend_ID = '${ obj.extendId }'
            </if>
            <if test="obj.extendName != null and obj.extendName != ''">
                and Extend_Name like '%${ obj.extendName }%'
            </if>
            <if test="obj.extendIsacive != null and obj.extendIsacive != ''">
                and extend_isacive = ${ obj.extendIsacive }
            </if>
        </where>
    </select>


    <select id="extendList" resultType="java.util.HashMap">
        SELECT ex.Extend_ID extendId,Extend_Name extendName,Extend_Pic extendPic,Extend_Sale extendSale,Product_Pictrure productPictrure FROM
        APPExtend ex
        ,APPProduct pr
        ,(SELECT MAX(a.order_Time) time FROM APPProduct a GROUP BY a.Extend_ID) t
        <where>
        ex.extend_Id=pr.Extend_ID and pr.order_Time=t.time and extend_isAcive=2 ORDER BY Extend_Order asc
        </where>
    </select>


</mapper>