<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Web_CSGO.mapper.AppkindMapper">

    <resultMap type="com.Web_CSGO.entity.Appkind" id="AppkindMap">
        <result property="kindId" column="Kind_ID"/>
        <result property="kindName" column="Kind_Name"/>
        <result property="kindOrder" column="Kind_Order"/>
    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAllList" resultMap="AppkindMap">
        select
          Kind_ID, Kind_Name, Kind_Order
        from dbo.APPKind
        <where>
        1=1
            <if test="obj.kindName != null and obj.kindName != ''">
                and Kind_Name like '%${ obj.kindName }%'
            </if>

        </where>
    </select>






</mapper>