<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Web_CSGO.mapper.TOcShopsMapper">

    <select id="getOpenBoxList" resultType="java.util.Map">
        SELECT
        oc.shopId,oc.shopName,oc.ShopTel,oc.ShopCode,oc.ShopJoinTime,oci.name
        FROM
        oc_Shops oc
        LEFT JOIN
        oc_Informations oci on oci.InformationId = oc.InformationId
        <where>
            1=1
            <if test="params.name != null and params.name != ''">and oci.name = #{params.name,jdbcType = VARCHAR}</if>
            <if test="params.ShopTel != null and params.ShopTel != ''">and oc.ShopTel = #{params.ShopTel,jdbcType = VARCHAR}</if>
        </where>
    </select>
    <delete id="del">
        delete from oc_Shops where shopId = #{shopId}
    </delete>

</mapper>
